<p id="notice"><%= notice %></p>

<p>
  <strong>Node:</strong>
  <%= @repository.node_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @repository.name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @repository.full_name %>
</p>

<p>
  <strong>Private repo:</strong>
  <%= boolean_format(@repository.private_repo) %>
</p>

<p>
  <strong>Html url:</strong>
    <%= link_to nil, @repository.html_url unless @repository.html_url.nil? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repository.description %>
</p>

<p>
  <strong>Fork:</strong>
  <%= @repository.fork %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to nil, @repository.url unless @repository.url.nil? %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @repository.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @repository.updated_at %>
</p>

<p>
  <strong>Pushed at:</strong>
  <%= @repository.pushed_at %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= link_to nil, @repository.homepage unless @repository.homepage %>
</p>

<p>
  <strong>Size:</strong>
  <%= @repository.size %>
</p>

<p>
  <strong>Stargazers count:</strong>
  <%= @repository.stargazers_count %>
</p>

<p>
  <strong>Watchers count:</strong>
  <%= @repository.watchers_count %>
</p>

<p>
  <strong>Language:</strong>
  <%= @repository.language %>
</p>

<p>
  <strong>Forks count:</strong>
  <%= @repository.forks_count %>
</p>

<p>
  <strong>Open issues count:</strong>
  <%= @repository.open_issues_count %>
</p>

<p>
  <strong>Master branch:</strong>
  <%= @repository.master_branch %>
</p>

<p>
  <strong>Default branch:</strong>
  <%= @repository.default_branch %>
</p>

<p>
  <strong>Score:</strong>
  <%= @repository.score %>
</p>

<h2>Owner</h2>
<p>
  <strong>Node ID:</strong>
  <%= @repository.owner.node_id %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @repository.owner.avatar_url, size: 100 unless @repository.owner.avatar_url.nil? %>
</p>

<p>
  <strong>Login:</strong>
  <%= @repository.owner.login %>
</p>

<p>
  <strong>Html Url:</strong>
  <%= link_to nil, @repository.owner.html_url unless @repository.owner.html_url.nil? %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to nil, @repository.owner.url unless @repository.owner.url.nil? %>
</p>

<%= link_to 'Back', repositories_path %>
